.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.post {
  max-width: 720px;
  margin: 5rem auto 0;

  h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }

  time {
    display: block;
    font-size: 1rem;
    color: var(--gray-300);
    margin-top: 1.5rem;
  }
  .postContent {
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.125rem;
    color: var(--gray-100);

    p, ul {
      margin: 1.5rem 0;
    }

    ul {
      padding-left: 1.5rem;
    }

    li {
      margin: 0.5rem 0;
    }

    pre {
      border-radius: 0.5rem;
      border-left: 0.5rem solid var(--gray-300);
      font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
      padding: 2rem;
      background-color: var(--gray-800);
      overflow-x: auto;
      margin: 2rem 0;
    }

    a {
      text-decoration: underline;
      font-weight: 600;

      &:hover {
        color: var(--yellow-500);
      }
    }
  }
}
